{% load widget_tweaks %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{ LIST.name }} - {{ LIST.print_time }}</h3>
</div>
<div class="modal-body">
    {{ LIST.description }}
</div>
<div class="modal-footer">
    <a class="btn btn-primary" href="#" data-toggle="modal" data-href="{% url 'lists:edit' LIST.id %}" data-target="#ajax-modal">
        Edit
    </a>
    <form style="display: inline" class="form-inline" role="form" action="{% url 'lists:complete' LIST.id %}"
          method="post">{% csrf_token %}
        <input type="submit" class="btn btn-success" value="Complete"/>
    </form>
    <form style="display: inline" class="form-inline" role="form" action="{% url 'lists:delete' LIST.id %}"
          method="post">{% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Delete"/>
    </form>
</div>

